body > a{
    position:absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: var(--secondary-color);
}
body > a:hover{
    color: #fff;
}

h1 {
    color: var(--secondary-color);
    word-break: break-word;
    margin-bottom: 20px;
}
p{
    font-size: 14px;
    word-break: break-word;
    margin-bottom: 30px;
}
input {
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;

}
#main_content button#submit{
    position: unset;
    transform: unset;
    margin-left: calc(50% - 57px);
}